@model TrueJobs.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
}


<head>
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url('../../Content/img_biz/1.jpg');
            background-size: cover;
            background-attachment: fixed;
        }

        a:hover {
            text-decoration: none;
        }
    </style>

</head>


<body>
    <main id="main" style="margin-top:100px">


        <br />
        <br />


        <div class="register-box">

            <div class="register-logo">
                <h2>Change password</h2>

            </div>
            <div class="register-box-body">

                @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()


                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">

                      
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
                     
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Set password" class="btn btn-default" style="margin-left:11%" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />
        <br />



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </main>
</body>